
.hero-container {
    /* background-color: url('images/img-home.jpg') center center/cover no-repeat; */
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,0.2);
    object-fit: contain;
    margin: 0 auto
}

.hero-container > h1 {
    color: #ffff;
    font-size: 70px;
    margin-top: -90px;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px  3px 0 #000,
    3px  3px 0 #000,
    0px -3px 0 #000,
    0px  3px 0 #000,
    -3px  0px 0 #000,
    3px  0px 0 #000;

}

.hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    margin-top: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow:
    -3px -3px 0 #000,
    3px -3px 0 #000,
    -3px  3px 0 #000,
    3px  3px 0 #000,
    0px -3px 0 #000,
    0px  3px 0 #000,
    -3px  0px 0 #000,
    3px  0px 0 #000;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn{
    margin: 50px;
}

.fa-play-circle {
    margin-left: 4px;
}

@media screen and (max-width: 960px) {
    .hero-container > h1 {
    margin-top: -150px;
    font-size: 70px;
}
}

@media screen and (max-width: 768px) {
    .hero-container > h1 {
    margin-top: 50px;
    font-size: -100px;
}
}

img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}
