:root {
    --primary: #fff;
}

.btn {
    padding: 8px 20px;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn--primary{
    background-color: var(--primary);
    color: #242424;
    border: 1px solid var(--primary);
}

.btn--outline{
    background-color: transparent;
    color: #fff;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3 ease-out;
}

.btn--medium{
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large{
    padding: 90px 90px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover{
    background-color: #fff;
    color: #242424;
    transition: 250ms;
}

.btn--green {
    background-color: #8CD0C8;
    color: black;
    padding: 24px 80px;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.2 ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: 600;
    font-size: 24px;
}


.btn--green:hover {
  background-color: #7fc5bd;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0,0,0,0.25);
}

.btn--black {
    background-color: black;
    color: white;
    padding: 24px 80px;
    border-radius: 100px;
    transition: 0.2 ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: 200;
    font-size: 24px;
    border: 2px solid #242424;
}

.btn--white{
    background-color: white;
    color: black;
    padding: 24px 80px;
    border-radius: 100px;
    transition: 0.2 ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    font-weight: 200;
    font-size: 24px;
    border: 2px solid #242424;
}

.btn--hitung {
    background-color: #5A8DEE;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 15px 0;
    width: 400px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(90, 141, 238, 0.3);
    transition: background 0.3s;
}