/* .navbarBawah {
  background: red;
  position: fixed;
  top: 0;
  height: 70px;
  padding-bottom: 70px;
  left: 0;
  width: 100%;
  z-index: 999;
}  */

.method-wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
}

/* IMAGE */
.method-left {
  width: 50%;
  background-size: cover;
  background-position: center;
}

/* FORM */
.method-right {
  width: 50%;
  padding: 100px;
  background: white;
  display: flex;
  flex-direction: column;
  margin-top: 130px;
}


.title{
    font-size: 70px;
    font-weight: 700;
    text-align: left;
    margin-left: 110px;
}

.subtitle{
    font-size: 48px;
    margin-bottom: 50px;
    margin-left: 110px;
}


.signup-form input {
  display: block;
  width: 90%;
  padding: 12px;
  margin-bottom: 40px;
  margin-left: 30px;
  border-radius: 1px;
  border: 2px solid #ccc;
  font-size: 24px;
}

.email-btn{
    display: flex;
    margin-left: 120px;
    margin-top: 30px;
}

.daftar-btn{
    display: flex;
    margin-left: 127px;
    margin-top: 30px;
}

.error{
    color: red;
}