.gold-wrapper {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.subtitle {
  margin-top: -5px;
  font-size: 14px;
  color: #555;
  text-align: center;
}

.price-card {
  width: 90%;
  background: #75b7b4;
  border-radius: 12px;
  margin-top: 20px;
  padding-bottom: 25px;
}

.price-title {
  background: #64a8a5;
  padding: 15px;
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  border-radius: 12px 12px 0 0;
}

.price-content {
  display: flex;
  justify-content: space-between;
  padding: 25px 40px;
  background: #b5dbd7;
}

.price-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price-label {
  font-size: 22px;
  font-weight: 700;
}

.price-value {
  margin-top: 8px;
  font-size: 22px;
  font-weight: 700;
}

.divider {
  width: 2px;
  background: #2d645d;
  border-radius: 5px;
}

.calculator-box {
  margin-top: 10px;
  border: 2px solid #bde8e4;
  border-radius: 10px;
  padding: 20px;
}

.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.tab {
  background: #8bc3bd;
  color: #1f4f4b;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  margin: 0 5px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}

.tab.active {
  background: #59948c;
  color: white;
}

.form-content {
  padding: 5px 10px;
}

.form-label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  font-weight: 600;
}

.form-input {
  width: 100%;
  background: #b5dbd7;
  border: none;
  padding: 8px;
  border-radius: 6px;
  margin-bottom: 15px;
}

.toggle-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  gap: 10px;
}

/* Toggle switch */
.toggle-row input {
  display: none;
}

.toggle-slider {
  width: 40px;
  height: 20px;
  background: #2d645d;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.toggle-slider::before {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  position: absolute;
  left: 1px;
  top: 1px;
  transition: 0.3s;
}

.toggle-row input:checked + .toggle-slider::before {
  transform: translateX(20px);
}

.toggle-text {
  font-size: 14px;
}
